<nav class="container-nav">
  <a href="#" class="logo">Nombre</a>

  <input type="text" class="nav-input" placeholder="Ingrese un nombre..." />

  <ul class="nav-list">
    <li><a href="/" class="nav-item">Inicio</a></li>
    <li><a href="/login" class="nav-item">Iniciar sesion</a></li>
    <li><a href="/logout" class="nav-item">Cerrar sesion</a></li>
    <li><a href="/registrar" class="nav-item">Registrate</a></li>
    <li><a href="/perfil" class="nav-item">Perfil</a></li>
    <li><a href="/admin" class="nav-item">Admin</a></li>
  </ul>
</nav>
