<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Publicacion</title>
  </head>
  <body>
    <!-- heaher  -->
    <nav class="container-nav">
      <a href="#" class="logo">Nombre</a>

      <input type="text" class="nav-input" placeholder="Ingrese un nombre..." />

      <ul class="nav-list">
        <li><a href="/" class="nav-item">Inicio</a></li>
        <li><a href="/login" class="nav-item">Iniciar sesion</a></li>
        <li><a href="/logout" class="nav-item">Cerrar sesion</a></li>
        <li><a href="/registrar" class="nav-item">Registrate</a></li>
        <li><a href="/perfil" class="nav-item">Perfil</a></li>
        <li><a href="/admin" class="nav-item">Admin</a></li>
      </ul>
    </nav>

    <div class="principal">

      <aside id="menuDasboard" class="category menu-dashboard">
        <!-- top menu  -->
        <div class="top-menu">
          <div class="logo">
            <img src="./img/egg-icon-1.jpg" alt="">
            <span>nombre </span>            
          </div>
          <div id="toggle" class="toggle">
            <i class="fa-solid fa-bars"></i>
          </div>
        </div>

        <!-- input search  -->
        <div class="input-search">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" class="input-menu" placeholder="Buscar">
        </div>

        <!-- menu  -->
        <div class="menu">
          <div class="enlace">
            <i class="fa-solid fa-bars"></i>
            <span>Dashboard</span>  
          </div>

          <div class="enlace">
            <i class="fa-solid fa-bars"></i>
            <span>Dashboard</span>  
          </div>
          
          <div class="enlace">
            <i class="fa-solid fa-bars"></i>
            <span>Dashboard</span>  
          </div>
          
          <div class="enlace">
            <i class="fa-solid fa-bars"></i>
            <span>Dashboard</span>  
          </div>
          
          <div class="enlace">
            <i class="fa-solid fa-bars"></i>
            <span>Dashboard</span>  
          </div>          
        </div>
      </aside>

      <section class="container">
        <div class="container-publication">
          <!-- ingresar publicacion -->
          <div class="div-publication">
            <div class="avatar">
              <img src="" alt="perfil" />
            </div>

            <form
              action=""
              method=""
              enctype="multipart/form-data"
              class="form-publication">
              <textarea name="" class="area-comment"></textarea>

              <label for="categoria">Categoria</label>
              
                <select class="selector" id="categoria" name="categoria" type="text" required>
                    <option value="camisas">Camisas</option>
                    <option value="pantalones">Pantalones</option>
                    <option value="vestidos">Vestidos</option>
                    <option value="chaquetas">Chaquetas</option>                 
                </select>

              <div class="button-upload">
                <div class="contenedor__btn__file">
                  <i class="far fa-image"></i>
                  Adjuntar archivo
                  <label for="file" class="btn__file"></label>
                  <input
                    type="file"
                    name="archivo"
                    accept="image/jpeg, image/png"
                    id="file" />
                </div>
              </div>

              <button class="button-send" type="submit">
                <i class="fas fa-paper-plane"></i>
                Publicar
              </button>

            </form>
          </div>

          <!-- mostrar publicacion  -->
          <div class="publication-realized">
            <div class="user-public">
              <div class="avatar">
                <img src="#" alt="img" />
              </div>
              <div class="comment-publication">
                <h4>Loks</h4>

                <h5>Hace 3 min</h5>
              </div>
              <!--   falta aumentar reporte aqui -->
            </div>

            <p class="title-publicated">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores
              aliquam possimus, doloremque repellat assumenda ipsam magni ducimus,
              dolorem explicabo
            </p>
            <div class="file-publicated">
              <img src="./img/estilos-de-vestir.jpg" alt="img" />
            </div>

            <!-- BOTON DE DAR LIKE  -->
            <div class="div-like-comment">
                
                  <button type="submit" class=" public-btn button-like" onclick="toggleLike()">
                    <!-- <i class="fa-solid fa-thumbs-up"></i> -->
                    <i class="fa-regular fa-thumbs-up"></i>
                    like
                  </button>

                  <button class="public-btn button-comment" onclick="mostrarDiv()">Comentar</button>

            </div>
            <!-- AREA DE INGRESAR COMENTARIO  -->
            <aside id="miDiv">

              <form
                action=""
                method=""
                enctype="multipart/form-data"
                class="form-publication">

                <textarea name="" class="area-comment" placeholder="Ingresa tu comentario aqui..."></textarea>
                <!-- <button onclick="ocultarDiv()">Ocultar Div</button> -->

                <button class="button-send-comentario" type="submit">
                  <i class="fas fa-paper-plane"></i>
                    Enviar
                </button>

              </form>
            </aside>
          
        </div>

      </section>

      <aside class="perfil">
        <div class="container-perfil">
      
          <div class="logo-perfil">
            <img src="./img/egg-icon-1.jpg" alt="">                        
          </div>
          
          <div class="perfil-name">
            <h2>Nombre de usuario</h2>
            <h4>Correo electronio</h4>
          </div>

          <div class="div-link-perfil">
            <a href="#" class="link-perfil">Mi perfil</a>
          </div>  

        </div>
      </aside>

    </div>

    <script src="https://kit.fontawesome.com/bd21d83e0d.js" crossorigin="anonymous"></script>

    <script th:src="@{/js/index.js}"></script>

    <script
      src="https://kit.fontawesome.com/bd21d83e0d.js"
      crossorigin="anonymous"></script>

  </body>
</html>