<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="perfil.css" />
    <title>Perfil de Usuario</title>
  </head>
  <body>
    <nav class="container-nav">
      <a href="#" class="logo">Nombre</a>

      <input type="text" class="nav-input" placeholder="Ingrese un nombre..." />

      <ul class="nav-list">
        <li><a href="/" class="nav-item">Inicio</a></li>
        <li><a href="/login" class="nav-item">Iniciar sesion</a></li>
        <li><a href="/logout" class="nav-item">Cerrar sesion</a></li>
        <li><a href="/registrar" class="nav-item">Registrate</a></li>
        <li><a href="/perfil" class="nav-item">Perfil</a></li>
        <li><a href="/admin" class="nav-item">Admin</a></li>
      </ul>
    </nav>
    <h1>Perfil de Usuario</h1>
    <div>
      <img
        th:src="@{'/imagen/perfil/' + ${id}}"
        alt="Foto de perfil"
        width="150"
        height="150" />
    </div>
    <div>
      <h2>Información del Usuario</h2>
      <p><strong>Nombre:</strong> <span th:text="${nombre}"></span></p>
      <p><strong>Apellido:</strong> <span th:text="${apellido}"></span></p>
      <p><strong>Email:</strong> <span th:text="${email}"></span></p>
    </div>
    <a href="/usuario/lista">Volver a la lista de usuarios</a>
  </body>
</html>
