<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/publicacion.css" />
    <title>Publicacion</title>
  </head>
  <body>
    <div class="container d-flex justify-content-center">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="publicacion-container col-md-4 d-flex align-items-center">
            <img
              th:src="@{'/imagen/' + ${publicacion.imagenPublicacion.id}}"
              class="img-publicacion img-fluid rounded-start"
              alt="publicacion" />
          </div>
          <div class="col-md-8">
            <div class="card-header">
              <div class="row">
                <div class="img-container col-1">
                  <img
                    th:src="@{'/imagen/perfil/' + ${publicacion.usuario.id}}"
                    class="img-perfil"
                    alt="profile-image" />
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <a
                        class="name"
                        href="#"
                        th:text="${publicacion.usuario.nombre}"></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p th:text="${publicacion.contenido}"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comentarios-container card-body">
              <div th:each="comentario : ${comentarios}" class="comentario row">
                <div class="img-container col-1">
                  <img
                    th:src="@{'/imagen/perfil/' + ${comentario.usuario.id}}"
                    class="img-perfil"
                    alt="profile-image" />
                </div>
                <div class="col-11">
                  <a
                    th:href="@{'/perfil/' + ${comentario.usuario.id}}"
                    class="name"
                    th:text="${comentario.usuario.nombre}"></a>
                  <p
                    class="mensaje-contenedor"
                    th:text="${comentario.texto}"></p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <form action="/comentario/agregar" method="post">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    name="comentario"
                    class="form-control"
                    placeholder="Comentar...."
                    aria-label="Recipient's username"
                    aria-describedby="button-addon2" />
                  <input
                    type="number"
                    name="publicacionid"
                    th:value="${publicacion.id}"
                    hidden />
                  <button
                    class="btn btn-outline-secondary"
                    type="submit"
                    id="button-addon2">
                    <i class="bi bi-file-arrow-up-fill"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </body>
</html>
