<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/usuario_form.css">
    <title>Formulario de Registro</title>
</head>
<body>
    
    <form action="/usuario/agregar" method="post" enctype="multipart/form-data" class="form">

        <h2 class="form__title"> Crea tu cuenta</h2>
        <!-- <p class="form__paragraph"> ¿Aun no tienes una cuenta? <a href="#" class="form__link"> Entra aqui</a></p> -->

        <div class="form__container">

            <div class="form__group">
                <input type="text" name="nombre" id="nombre" class="form__input" placeholder=" ">
                <label for="nombre" class="form__label">Nombre:</label>
                <span class="form__line"></span>
            </div>             

            <div class="form__group">
                <input type="text" name="apellido" id="apellido" class="form__input" placeholder=" ">
                <label for="apellido" class="form__label">Apellido:</label>
                <span class="form__line"></span>
            </div> 

            <div class="form__group">
                <input type="text" name="email" id="email" class="form__input" placeholder=" ">
                <label for="email" class="form__label">Correo Electronico:</label>
                <span class="form__line"></span>
            </div>                        

            <div class="form__group">
                <input type="password" name="password" id="password" class="form__input" placeholder=" ">
                <label for="password" class="form__label">Contraseña:</label>
                <span class="form__line"></span>
            </div> 
            
            <div class="form_submit">

                <!-- <input type="file" name="archivo" accept="image/jpeg, image/png" 
                        class="form__submit" value="Cargar Imagen"> -->

                <div class="contenedor__btn__file">
                    <i class="fa-light fa-file"></i>
                    Cargar imagen
                    <label for="file" class="btn__file"></label>
                    <input type="file" name="archivo" accept="image/jpeg, image/png" id="file"/>
                </div>        

                <input type="submit" class="form__submit" value="Registrar"/>
            </div>

        </div>

    </form>

    <script src="https://kit.fontawesome.com/bd21d83e0d.js" crossorigin="anonymous"></script>
</body>
</html>