<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/usuario_list.css">
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
        <title>Document</title>
    </head>    
    
    <body>
            
        <section class="section">

            <div class="section__container">

                <h2 class="section__title">Lista de Usuarios</h2>
                <!--tabla-->    
                <div class="div__container">
            
                    <table class="div__table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Email</th>
                                <!-- <th scope="col">Password</th> -->
                                <th scope="col">F-Creacion</th>
                                <!-- <th scope="col">imagen</th> -->
                                <th scope="col">Modificar</th>
                            </tr>      
                        </thead>
                        
                        <tbody th:each="usuario : ${usuarios}">
                            <tr>
                                <th scope="row" th:text="${usuario.id}"></th>
                                <td th:text="${usuario.nombre}"></td>
                                <td th:text="${usuario.apellido}"></td>
                                <td th:text="${usuario.email}"></td>
                                <td th:text="${usuario.fecha_creacion}"></td>
                                <td>
                                    <a th:href="@{/usuario/modificar/__${usuario.id}__}" <i class="link"></i>Modificar</a>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                    
                </div>

                <div class="form__back">

                    <a th:href="@{/}" class="form__btn">Volver</a>
            
                </div>

            </div>

        </section>        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>
